anyio==4.12.0
appnope==0.1.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
async-lru==2.0.5
attrs==25.4.0
babel==2.17.0
beautifulsoup4==4.14.3
bleach==6.3.0
Bottleneck @ file:///opt/miniconda3/conda-bld/bottleneck_1761937849374/work
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
comm==0.2.3
contourpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cvjf0v4ux/croot/contourpy_1732540055997/work
cycler @ file:///Users/ec2-user/croot/cycler_1766067937639/work
debugpy==1.8.19
decorator==5.2.1
defusedxml==0.7.1
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
fonttools @ file:///opt/miniconda3/conda-bld/fonttools_1765445198468/work
fqdn==1.5.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
ipykernel==7.1.0
ipython==8.37.0
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
joblib @ file:///opt/miniconda3/conda-bld/joblib_1757926350579/work
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.7.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.5.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
kiwisolver @ file:///opt/miniconda3/conda-bld/kiwisolver_1764159413598/work
lark==1.3.1
MarkupSafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.2.1
mistune==3.2.0
nbclient==0.10.4
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.5.1
notebook_shim==0.2.4
numexpr @ file:///opt/miniconda3/conda-bld/numexpr_1762165517928/work
numpy @ file:///opt/miniconda3/conda-bld/numpy_and_numpy_base_1761579345363/work/dist/numpy-2.2.5-cp310-cp310-macosx_12_0_arm64.whl#sha256=cee7bef98ac83b78786789b80f44469231df1e3cf12ce327f909aa4ea0fcee88
overrides==7.7.0
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079158/work
pandas @ file:///opt/miniconda3/conda-bld/pandas_1762332182781/work/dist/pandas-2.3.3-cp310-cp310-macosx_12_0_arm64.whl#sha256=15e77fd5caae22506c552ef9e15f2690708d3395500d8e3ac8ce5c5cf227c7a1
pandocfilters==1.5.1
parso==0.8.5
pexpect==4.9.0
pillow @ file:///opt/miniconda3/conda-bld/pillow_1762528235859/work
platformdirs==4.5.1
prometheus_client==0.23.1
prompt_toolkit==3.0.52
psutil==7.2.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.23
Pygments==2.19.2
pyparsing @ file:///opt/miniconda3/conda-bld/pyparsing_1763973787496/work
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
python-json-logger==4.0.0
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3bjczh6it0/croot/pytz_1752135865541/work
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
requests==2.32.5
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rpds-py==0.30.0
scikit-learn @ file:///opt/miniconda3/conda-bld/scikit-learn_1764838070583/work
scipy @ file:///opt/miniconda3/conda-bld/scipy_1759222017998/work/dist/scipy-1.15.3-cp310-cp310-macosx_12_0_arm64.whl#sha256=2bf10786bb6d1accacbbad75fd71d804a9566614d7ee63392efe7ebd2474197e
Send2Trash==1.8.3
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
soupsieve==2.8.1
stack-data==0.6.3
terminado==0.18.1
threadpoolctl @ file:///opt/miniconda3/conda-bld/threadpoolctl_1764361580557/work
tinycss2==1.4.0
tomli==2.3.0
tornado @ file:///Users/ec2-user/croot/tornado_1765992646290/work
traitlets==5.14.3
typing_extensions==4.15.0
tzdata @ file:///croot/python-tzdata_1746123641790/work
uri-template==1.3.0
urllib3==2.6.2
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
